* {
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans";
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  background-color: $red-color;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  font-weight: 500;
  &:hover {
    background-color: rgba($red-color, $alpha: 0.8);
  }
  &:focus {
    background-color: rgba($red-color, 0.7);
  }
  &--mini {
    width: 131px;
    height: 40px;
    font-size: 14px;
  }
}

.btn-main {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: $white-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  background-color: $red-color;
  border-radius: 5px;
  &:hover {
    background-color: rgba($red-color, $alpha: 0.8);
  }
  &:focus {
    background-color: rgba($red-color, 0.7);
  }
}
