@media screen and (max-width:1200px){
	.promo{
		&__inner{
			align-items: center;
		}
	}
	.consultation{
		padding: 60px 0 40px;
		&__title{
			font-size: 32px;
			font-weight: 700;
		}
		&__descr{
			margin-top: 40px;
		}
	}
	.carousel{
		padding: 65px 0;
	}
	.slick-slide{
		img{
			margin: 0 auto;
			width: 550px;
			object-fit: cover;
		}
	}
}

@media screen and (max-width:992px){

	}
	.header{
		justify-content: space-around;
	}
	.promo{
		&__inner{
			align-items: center;
		}
		&__title{
			font-weight: 500;
			font-size: 30px;
		}
		&__sub-title{
			font-size: 25px;
		}
		&__link{
			a:focus, a:hover {
				color: $white-color;
			}
		}
	}
	.advantages{
		&__header{
			font-size: 25px;
		}
	}
	.btn{
		&:hover {
			background-color: rgba($red-color, 1);
		}
		&:focus {
			background-color: rgba($red-color, 1);
		}
	}
	.consultation{
		padding: 60px 0 40px;
		&__title{
			font-size: 28px;
			font-weight: 700;
			margin: 0 auto;
			text-align: center;
		}
		&__descr{
			margin: 0 auto;
			margin-top: 40px;
			text-align: center;
		}
	}
	.feed-form{
		margin: 0 auto;
		margin-top: 36px;
	}
	.slick-slide{
		img{
			margin: 0 auto;
			width: 450px;
			object-fit: cover;
		}
	}


@media screen and (max-width:768px){
	.header{
		flex-direction: column;
		justify-content: center;
		&__official{
			margin-top: 25px;
		}
		&__phone{
			margin-top: 30px;
			font-size: 16px;
		}
		&__btn{
			margin-top: 30px;
		}
	}
	.promo{
		padding-bottom: 40px;
		&__inner{
			margin-top: 40px;
			align-items: center;
		}
		&__title{
			font-size: 20px;
		
		}
		&__sub-title{
			font-size: 16px;
			margin-top: 10px;
		}
		&__icons{
			flex-direction: column;
			margin-top: 30px;
			margin-bottom: 0;
		}
		&__icon{
			img{
				margin-top: 20px;
			}
		}
		&__link{
			font-size: 14px;
		}
		&__btn {
			margin-top: 35px;
			font-size: 14px;
		}
	}
	
	.advantages{
		padding: 30px 0 40px;
		&__header{
			font-size: 20px;
		}
		&__icons{
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
		}
		&__icon{
			img{
				margin-top: 10px;
			}
		}
		&__title{
			margin-top: 15px;
			font-size: 16px;
		}
		&__descr{
			margin-top: 10px;
			font-size: 12px;
		}
	}
	.consultation{
		&__title{
			font-size: 22px;
		}
		&__descr{
			font-size: 16px;
		}
	}
	.catalog{
		&__content{
			margin-left: 10%;
			&-item{
				&__descr {
					margin-top: 16px;
					font-size: 12px;
					font-weight: 300;
					text-align: center;
					color: $black-color;
					max-width: 200px;
				}
				li{
					font-size: 12px;
				}
			}
		}
	}
}
@media screen and (max-width:577px){
	.header{
		&__logo{
			width: 190px;
		}
	}
	.promo{
		&__title{
			font-size: 16px;
		}
		&__sub-title{
			font-size: 11px;
		}
		&__btn{
			width: 180px;
			font-size: 12px;
		}
	}
	.advantages{
		&__header{
			font-size: 16px;
		}
		&__descr{
			font-size: 10px;
		}
		&__icon{
			max-width: 200px;
		}
	}
	.consultation{
		&__descr{
			font-size: 13px;
		}
		&__title{
			max-width: 300px;
			line-height: 1.2;
			font-size: 16px;
		}
	}
	.feed-form{
		width: 250px;
		input{
			width: 250px;
			margin: 0 auto;
			margin-top: 15px;
		}
		&__btn{
			font-size: 15px;
		}
	}
	.catalog{
		&-item{
			&__descr {
				margin-top: 16px;
				font-size: 14px;
				font-weight: 300;
				text-align: center;
				color: $black-color;
				max-width: 200px;
			}
		}
		&__content{
			margin-top: 40px;
			margin-right: 0;
			justify-content: center;
		}
		&__tabs{
			margin-right: 0;
		}
		&__tab{
			display: flex;
			font-size: 10px;
			flex-basis: 85px;
			line-height: 1.2;
			align-items: center;
			justify-content: center;
			margin: 5px;
		}
		.title{
			font-size: 22px;
		}
	}
	.slick-slide{
		img{
			margin: 0 auto;
			width: 280px;
			object-fit: cover;
		}
	}
}
@media screen and (max-width:319px){
	.catalog{
		&__tab{
			flex-basis: 70px;
			font-size: 9px;
		}
		&-item{
			&__sub-title{
				font-size: 14px;
			}
			li{
				font-size: 10px;
				margin-bottom: 40px;
			}
			&__descr{
			font-size: 10px;
			max-width: 180px;
			}
		}
	}
}
