.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
		cursor: pointer;
    img {
			display: block;
      max-width: 100%;
    }
  }
  &__official {
    font-size: 12px;
    font-weight: 500;
    color: $white-color;
    text-align: center;
    span {
      margin-top: 5px;
      display: block;
      font-size: 18px;
    }
  }
  &__phone {
    display: block;
    color: $white-color;
    font-size: 18px;
    font-weight: 500;
  }
  &__btn {
		margin-top: 8px;
    padding: 6px 20px 7px 18px;
    font-size: 12px;
		font-size: 12px;
		font-weight: 300;
  }
}
