* {
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans";
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  background-color: $red-color;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: rgba($red-color, $alpha: 0.8);
  }
  &:focus {
    background-color: rgba($red-color, 0.7);
  }
}

.btn-main {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: $white-color;
  padding: 15px 41px 13px;
  text-align: center;
  text-transform: uppercase;
}
